@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-condensed-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{margin:0px;padding:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
ul{list-style:none;float:left;}
ul li{float:left;}
a{text-decoration:none;}
img{max-width:100%;}

body {
  float: left;
  width: 100%;
	font-family: arial;
}
.blog-header{width:100%; float:left; height: 80px; border-bottom: 1px solid #e8e8e8;
transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;
    padding:15px 30px;}
.free-trial{
  background-color: #bcddbe;
    color: #fff;
    float: left;
    height: 30px;
    letter-spacing: 1.4px;
    padding: 6px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
    font-family: 'helvetica_neueregular';transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;
}

.free-trial p {
    font-size: 13px;
}
.blog-header .header-logo {
   display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 190px;
}
.blog-header .header-logo a{
width:100%;
float:left;
}
.header-links {
   display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
}
.header-links li {
  float: left;
  margin: 0 20px;
}
.header-links li a {
  color: #777;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-links li a:focus, .header-links li a:hover {
  color: #23527c;
  text-decoration: underline;
}
.header-cart {
  cursor: pointer;
  float: right;
  position: relative;
  right: 5px;
  width: 25px;
  margin: 7px 0;
}
.header-cart-counter-cont {
  background-color: #000;
  border-radius: 50%;
  bottom: -7px;
  height: 18px;
  position: absolute;
  right: -5px;
  text-align: center;
  width: 18px;
}
.header-cart-counter {
  bottom: 1px;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
}
section {
    float: left;
    width: 100%;
}
.bannertxt {
    background: rgba(0, 0, 0, 0) url("../img/banner-blog.png") no-repeat scroll left top /cover;
    padding: 122px 0;
    text-align:center;background-attachment:fixed;
}
.wrapper{max-width:1170px;width:100%;margin:0px auto;}
.recipes > span {
    border-bottom: 5px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 45px;
    padding: 0 30px 15px;
    text-transform: uppercase;
}

.homehony {
    color: #fff;
    float: left;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 38px;
    text-transform: uppercase;
    width: 100%;
}

.btnreadmore {
    float: left;
    width: 100%;
    margin-bottom:57px;
}

.btnreadmore a {
    background: #fff none repeat scroll 0 0;
    color: #3a3a3a;
    display: inline-block;
    font-size: 18px;
    padding: 11px 30px;
    text-transform: uppercase;border:3px solid #fff;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;
}
.btnreadmore a:hover{color:#fff;border:3px solid #fff;background:none;}
.icons-block {
    float: left;
    margin-bottom: 33px;
    width: 100%;
}
.icons-block a {
  color: #fff;
  font-size: 35px;
  margin: 0 15px;
}
.dateblock {
    color: #fff;
    float: left;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 100%;
}

.popularcat {
    float: left;
    letter-spacing: 5px;
    padding: 40px 0px;
    text-transform: uppercase;
    width: 100%;
}

.popularcat h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.popularcat-outer {
    float: left;
    width: 100%;
}

.popularblk1 {
    float: left;
    text-align: center;
    width: 25%;
}
.popularblk1 > span {
    float: left;
    margin-top: 11px;
    width: 100%;
}
.foodsction{width:100%;float: left;text-align:center;display:table;}
.foodhalf{width:50%;display:table-cell;vertical-align:middle;}

.foodsectiontxt .recipes > span {
    border-bottom: 3px solid #3a3a3a;
    color: #3a3a3a;
    font-size: 17px;
    margin-bottom: 20px;
}

.foodsectiontxt .homehony {
    margin-bottom: 20px;
}

.foodsectiontxt .homehony > span {
    color: #3a3a3a;
    font-size: 35px;
    line-height: 47px;
}

.foodpara {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.foodpara  p {
    font-size: 17px;
}

.foodsectiontxt .btnreadmore  a {
    background: #313131 none repeat scroll 0 0;
    color: #fff;
    padding: 8px 30px;transition:all 1s;-moz-transition:all 1s;-webkit-transition:all 1s;border:2px solid #313131;
}
.foodsectiontxt .btnreadmore  a:hover{border:2px solid #313131; color:#313131;background:none;}
.foodsectiontxt .btnreadmore {
    margin-bottom: 0;
}

.foodhalf.foodsectiontxt {
    padding: 0 7%;
}
/***********footer************/
footer#footer {
  background: #fff none repeat scroll 0 0;
  color: #262626;
  float: left;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 40px 40px 0;
  position: relative;
  width: 100%;
}
.footer-links {
  float: left;
  width: 100%;
}
.footer-links ul {
  float: left;
  list-style: outside none none;
  margin: 40px 0;
  padding: 0;
  width: 50%;
}
.footer-links ul li {
  color: #262626;
  margin: 8px 0;
  padding: 4px 0;font-size:12px;
  width:100%;
  float:left;
}
span.footer-icon {
  float: left;
  margin-right: 10px;
  position: relative;
  width: 20px;
}
.footer-links ul li a, .copyright a {
  color: #262626;
  font-size: 12px;
  text-transform: uppercase;
}

.copyright {
    float: left;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
/***********footer end************/
/***********menu ************/
.mobile-burger {
  bottom: 0;
    cursor: pointer;
    display: none;
    height: 30px;
    left: 0px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 30px;
}
.mobile-burger span {
    background-color: #262626;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

/***********menu end************/
/**********fixed header*********/

.blog-header.fixed {
    background: #fff none repeat scroll 0 0;
    position: fixed;
    top: 0; z-index: 1;
}
/**********fixed header end*********/
/*********mobile menu*************/
.mobile-menu {
  background-color: #fff;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2);
  opacity:1;
  height: 100%;
  left:-420px;
  position: fixed;
  top: 0;
  transition: left 300ms ease-out 0s;
  -moz-transition: left 300ms ease-out 0s;
  -webkit-transition: left 300ms ease-out 0s;
  -o-transition: left 300ms ease-out 0s;
  max-width: 400px;width:100%;
  z-index: 2;display:none;
}
.mobile-menu.open {
  left: 0;
}
.mobile-menu-header {
  border-bottom: 1px solid #e8e8e8;
  float: left;
  height: 80px;
  width: 100%;
}
.mobile-menu-header img{max-width:200px;}
.mobile-menu-logo {
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.mobile-menu-links {
  float: left;
  width: 100%;
}
.mobile-menu-links ul{width:100%; float:left;}
.mobile-menu-links ul li{width:100%; float:left;text-align:center;}
.mobile-menu-links ul li a {
  color: #262626;
  display: block;
  letter-spacing: 1.4px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;font-size:13px; text-align:center;	
}
.mobile-menu-links ul li a:hover {
    background-color: #bcddbe;
    color: #fff;text-decoration:underline;
}
.mobile-menu-close {
  cursor: pointer;
  float: right;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}
.mobile-menu-close span {
  background-color: #ccc;
  display: block;
  height: 1px;
  position: relative;
  top: 20px;
  transform: rotate(45deg);
  width: 100%;
}
.mobile-menu-close span:last-child {
  transform: rotate(-45deg);
}
/*********mobile menu end*************/
@media screen and (max-width:991px){

.homehony {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 38px
}

.foodhalf.foodsectiontxt {
    padding: 0 2%;
}

.foodsectiontxt .homehony > span {
    font-size: 28px;
    line-height: 40px;
}
.mobile-burger {
display:block;
}
.blog-header .header-logo a{margin-left:60px;}
.header-links{margin-left:0px;display:none;}
.mobile-menu {display:block;}

}
@media screen and (max-width:800px){

.foodsction {
    display: block;width:100%; float:left;
}
.foodhalf {
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.foodhalf div {
    width: 100%;
}
.foodhalf:last-child{ margin-bottom:0px;}
.foodhalf.foodsectiontxt {
    padding: 50px 20PX;
}
.foodsction:nth-child(2n) {
    border-top: 1px solid #dedede;
}
}
@media screen and (max-width:640PX){

.popularblk1 {
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 50%;
}
.footer-links ul{WIDTH:100%;float:left; margin: 0 0 30px;}
.homehony {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 38px;
}

.blog-header .header-logo {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 40px);
}
.blog-header .header-logo a {
    display: inline-block;
    float: none;
    max-width: 170px;
    width: 100%;
}
.blog-header {
    height: auto;
    padding: 15px 10px;
}
}
@media screen and (max-width:480PX){

.homehony {
    font-size: 33px;
    line-height: 42px;
    margin-bottom: 38px;
}
.bannertxt{padding:62px 0px;}
}
@media screen and (max-width:360PX){

.homehony {
    font-size: 33px;
    line-height: 42px;
    margin-bottom: 38px;
}
}
